.js-ttl,
.js-ttl-io {
  overflow: hidden;
  display: block;
  opacity: 0;
  &.show {
    opacity: 1;
  }
  & > span {
    display: inline-flex;
    align-items: center;
    span {
      display: inline-block;
      transform: translate(0, 101%);
      transition: transform 1.2s cubic-bezier(0.32, 0.1, 0, 1);
      &._delay {
        &._show {
          transform: translate(0);
          &:nth-of-type(1) {
            transition-delay: 0s;
          }
          &:nth-of-type(2) {
            transition-delay: 0.1s;
          }
          &:nth-of-type(3) {
            transition-delay: 0.18s;
          }
          &:nth-of-type(4) {
            transition-delay: 0.26s;
          }
          &:nth-of-type(5) {
            transition-delay: 0.34s;
          }
          &:nth-of-type(6) {
            transition-delay: 0.42s;
          }
          &:nth-of-type(7) {
            transition-delay: 0.5s;
          }
          &:nth-of-type(8) {
            transition-delay: 0.58s;
          }
          &:nth-of-type(9) {
            transition-delay: 0.66s;
          }
          &:nth-of-type(10) {
            transition-delay: 0.74s;
          }
          &:nth-of-type(11) {
            transition-delay: 0.82s;
          }
          &:nth-of-type(12) {
            transition-delay: 0.9s;
          }
          &:nth-of-type(13) {
            transition-delay: 0.98s;
          }
          &:nth-of-type(14) {
            transition-delay: 1.06s;
          }
          &:nth-of-type(15) {
            transition-delay: 1.12s;
          }
          &:nth-of-type(16) {
            transition-delay: 1.2s;
          }
          &:nth-of-type(17) {
            transition-delay: 1.28s;
          }
          &:nth-of-type(18) {
            transition-delay: 1.36s;
          }
          &:nth-of-type(19) {
            transition-delay: 1.44s;
          }
          &:nth-of-type(20) {
            transition-delay: 1.52s;
          }
          &:nth-of-type(21) {
            transition-delay: 1.6s;
          }
          &:nth-of-type(22) {
            transition-delay: 1.68s;
          }
          &:nth-of-type(23) {
            transition-delay: 1.74s;
          }
          &:nth-of-type(24) {
            transition-delay: 1.82s;
          }
          &:nth-of-type(25) {
            transition-delay: 1.9s;
          }
          &:nth-of-type(26) {
            transition-delay: 1.98s;
          }
          &:nth-of-type(27) {
            transition-delay: 2.04s;
          }
          &:nth-of-type(28) {
            transition-delay: 2.12s;
          }
          &:nth-of-type(29) {
            transition-delay: 2.2s;
          }
          &:nth-of-type(30) {
            transition-delay: 2.28s;
          }
        }
      }
      &._show {
        transform: translate(0, 0);
      }
    }
  }
}

.js-io {
  &._fadeup {
    transform: translate(0, 36px);
    opacity: 0;
    transition: transform 1.2s cubic-bezier(0.32, 0.1, 0, 1),opacity 1.2s cubic-bezier(0.32, 0.1, 0, 1), background 1.2s cubic-bezier(0.32, 0.1, 0, 1);
  }
  
  &._fadetoup {
    transform: translate(0, 130%);
    transition: transform 1.2s cubic-bezier(0.32, 0.1, 0, 1),opacity 1.2s cubic-bezier(0.32, 0.1, 0, 1), background 1.2s cubic-bezier(0.32, 0.1, 0, 1);
  }

  &._fadeleft {
    transform: translateX(100px) scale(1.1);
    transition: all 0.5s ease-in-out;
    visibility: hidden;
    filter: blur(10px);
    opacity: 0;
    @include pc {
      transform: translateX(100rem) scale(1.1);
    }
    @include sp {
      transform: translateX(50rem) scale(1.1);
    }
  }

  &._fadexy {
    transform: translate3d(20px, 20px, 0);
    opacity: 0;
    transition: transform 1.2s cubic-bezier(0.32, 0.1, 0, 1), opacity 1.2s cubic-bezier(0.32, 0.1, 0, 1);
  }
  
  &._blur {
    transform: scale(1.1);
    transition: all 1.2s cubic-bezier(0.32, 0.1, 0, 1);
    visibility: hidden;
    filter: blur(10px);
    opacity: 0;
  }

  &._fadein {
    transform: translateY(0);
    transition: all 1s ease-in-out;
    visibility: hidden;
    opacity: 0;
  }

  &._zoomup {
    transform: scale(0.5);
    transition: all 1s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transition-timing-function: cubic-bezier(1.000, -0.195, 0.000, 1.330);
  }

  // 要素が表示された際に透明度と可視性を変更
  &._show {
    transform: translate(0) scale(1);
    visibility: visible; // 表示された際に可視化
    filter: blur(0);
    opacity: 1;
  }

 //delay
  &._delay {
    &.--fadein{
      transform: translateY(0);
    }
    //エフェクト
    &._show {
      transform: translate(0) scale(1);
      visibility: visible; // 表示された際に可視化
      filter: blur(0);
      opacity: 1;

      &:nth-of-type(1) {
        transition-delay: 0s;
      }
      &:nth-of-type(2) {
        transition-delay: 0.05s;
      }
      &:nth-of-type(3) {
        transition-delay: 0.09s;
      }
      &:nth-of-type(4) {
        transition-delay: 0.13s;
      }
      &:nth-of-type(5) {
        transition-delay: 0.17s;
      }
      &:nth-of-type(6) {
        transition-delay: 0.21s;
      }
      &:nth-of-type(7) {
        transition-delay: 0.25s;
      }
      &:nth-of-type(8) {
        transition-delay: 0.29s;
      }
      &:nth-of-type(9) {
        transition-delay: 0.33s;
      }
      &:nth-of-type(10) {
        transition-delay: 0.37s;
      }
      &:nth-of-type(11) {
        transition-delay: 0.41s;
      }
      &:nth-of-type(12) {
        transition-delay: 0.45s;
      }
      &:nth-of-type(13) {
        transition-delay: 0.49s;
      }
      &:nth-of-type(14) {
        transition-delay: 0.53s;
      }
      &:nth-of-type(15) {
        transition-delay: 0.57s;
      }
      &:nth-of-type(16) {
        transition-delay: 0.61s;
      }
      &:nth-of-type(17) {
        transition-delay: 0.65s;
      }
      &:nth-of-type(18) {
        transition-delay: 0.69s;
      }
      &:nth-of-type(19) {
        transition-delay: 0.73s;
      }
      &:nth-of-type(20) {
        transition-delay: 0.77s;
      }
      &:nth-of-type(21) {
        transition-delay: 0.81s;
      }
      &:nth-of-type(22) {
        transition-delay: 0.85s;
      }
      &:nth-of-type(23) {
        transition-delay: 0.89s;
      }
      &:nth-of-type(24) {
        transition-delay: 0.93s;
      }
      &:nth-of-type(25) {
        transition-delay: 0.97s;
      }
      &:nth-of-type(26) {
        transition-delay: 1.01s;
      }
      &:nth-of-type(27) {
        transition-delay: 1.05s;
      }
      &:nth-of-type(28) {
        transition-delay: 1.09s;
      }
      &:nth-of-type(29) {
        transition-delay: 1.13s;
      }
      &:nth-of-type(30) {
        transition-delay: 1.17s;
      }
    }
  }
}

.js-menu .c-menu {
  display: flex;
  align-items: center;
  overflow: hidden;
  span {
    position: relative;
    display: inline-block;
    line-height: 1;
    color: inherit;
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      color: inherit;
      content: attr(data-text);
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
  }
}


._cus-blur {
  transform: scale(1.1);
  transition: all 1s ease-in-out;
  filter: blur(10px);
  opacity: 0;
  &._show {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
}

._cus-fadeup {
  transform: translate(0, 36px);
  opacity: 0;
  transition: transform 1.2s cubic-bezier(0.32, 0.1, 0, 1),opacity 1.2s cubic-bezier(0.32, 0.1, 0, 1), background 1.2s cubic-bezier(0.32, 0.1, 0, 1);
  &._show {
    transform: translate(0);
    opacity: 1;
  }
  &._delay {
    &._show {
      transform: translate(0) scale(1);
      visibility: visible; // 表示された際に可視化
      filter: blur(0);
      opacity: 1;
  
      &:nth-of-type(1) {
        transition-delay: 0s;
      }
      &:nth-of-type(2) {
        transition-delay: 0.05s;
      }
      &:nth-of-type(3) {
        transition-delay: 0.09s;
      }
      &:nth-of-type(4) {
        transition-delay: 0.13s;
      }
      &:nth-of-type(5) {
        transition-delay: 0.17s;
      }
    }
  }
}


.handle-anime-txt {
  animation-name: handle_anime_txt;
  animation-duration: 0.87s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes handle_anime_txt {
  0% {
    clip-path: polygon(0% 100%, 0% 100%, 100% 100%, 100% 100%);
    transform: translate(0, 100%) scale(1, 3.6);
  }
  100% {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    transform: translate(0, 0) scale(1);
  }
}

.js-io-anime {
  clip-path: polygon(0% 100%, 0% 100%, 100% 100%, 100% 100%);
}

.handle-anime {
  animation-name: handle_anime;
  animation-duration: 0.653s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-delay: 0.776s;
}

@keyframes handle_anime {
  0% {
    clip-path: polygon(0% 100%, 0% 100%, 100% 100%, 100% 100%);
  }

  100% {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    transform: translate(0, 0);
  }
}

.parallax-img__wrap {
  position: relative;
  .parallax-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 150px);
  }
}